:root {
    --bg: #1c0022; /* Darker purple background */
    --text: #E0E0E0;
    --accent1: #973197; /* Main purple accent */
    --hover1: #b842b8; /* Lighter purple for hover/glow */
    --accent2: #d8b8ff; /* Very light purple for strong glows/highlights */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Verdana';
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

#bg-canvas {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    padding: 1rem 2rem; 
    position: relative;
    z-index: 1000;
}

.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative; 
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    width: 100%;
}

.nav-links a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #CCCCCC;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
    justify-content: space-between;
}

.nav-links a:hover {
    background-color: var(--hover1); 
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 15px var(--hover1) !important; 
    border-bottom: none;
    transition: all 0.3s ease;
}

.nav-links a.active {
    color: var(--text);
    font-weight: bold;
    border-bottom: 2px solid var(--hover1);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
}

.subtitle {
    margin: 0 auto;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 1rem;
}

.tab {
    color: #ccc;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
}

.tab:hover, .tab.active {
    background: var(--hover1);
    color: #fff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 20px auto;
}

.project-card {
    height: 90%;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px #00000055;
    transition: transform 0.2s ease;
}

.card-link:hover .project-card:hover {
    transform: translateY(-5px);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.project-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    text-align: center;
    font-weight: bold;
}

.project-desc {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: #ccc;
    text-align: justify;
}

.project-link-container {
    display: flex;
    justify-content: center;
}

.project-link {
    background-color: var(--accent1);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.92rem;
}

.hidden {
    display: none;
}

.glass {
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.18); /* Light border */
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    max-width: 100%;
    border-radius: 12px;
}

@media (max-width: 768px) {

    body { margin: 1rem;}

    .navbar {
        padding: 0.5rem 0;
        margin-top: 10px;
    }

    .nav-links { align-items: center; }

    .nav-links a { font-size: 0.7rem; }

    h1 { font-size: 1.5rem;}

    .subtitle { font-size: 0.8rem; }

    .projects-grid { grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }

    .tabs {
        gap: 0.4rem;
        font-size: 0.8rem;
    }

    .tab {
        padding: 0.2rem 0.5rem;
        font-size: 0.68rem;
    }
}

@media (max-width: 480px) {

    body { margin: 1rem;}

    .navbar {
        padding: 0.5rem 0;
        margin-top: 10px;
    }

    .nav-links { align-items: center; }

    .nav-links a { font-size: 0.7rem; }

    h1 { font-size: 1.5rem;}

    .subtitle { font-size: 0.8rem; }

    .tabs {
        gap: 0.4rem;
        font-size: 0.8rem;
    }

    .tab {
        padding: 0.2rem 0.5rem;
        font-size: 0.68rem;
    }
}